<!DOCTYPE html>
<html>
<head>
	<title>Patient View</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
	<script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js"></script>
	<style type="text/css">
		#patient_details{
			overflow: auto;
		}
		/*div>p>strong{
			font-size: 20px;
		}*/
	</style>
</head>
<body>

	<div>
		<% include navbar.ejs %>
	</div>

	<div class="container-fluid row">

		<div id="patient_details" style="width: 40vw; height: 90vh;margin: 5vh;margin-top: 10vh;">

			<% results.forEach(function(result) {%>

			<div style="width: 38vw; height: 20vh; margin:5vh; margin-left: 0; border-radius: 2vh; border: 2px solid black;">
				
				<div class="row" style="padding: 4vh 6vh">
					
					<div>
						<img src="<%= result.image %>.png" alt="File" width="90" height="90">
					</div>

					<div style="margin-left: 15vh;">
						<p><strong>Patient Id: </strong><%= result.id %></p>

						<p><strong>Patient Name: </strong><%= result.name %></p>

						<p><strong>Patient Address: </strong><%= result.address %></p>
					</div>

					<div style="margin-left: 55vh; margin-top: -12vh;">
						<button type="button" class="btn btn-primary" style="padding: 1.5vh 4vh;border-radius: 50px; font-size: 20px; outline: none;" onclick="showPatient('<%= result.image %>','<%= result.id %>','<%= result.name %>','<%= result.address %>')">View</button>
					</div>

				</div>

			</div>

			<% }); %>

		</div>

		<div>
			<div style="width: 52vw; height: 90vh; margin-top: 10vh; overflow: auto;">
				<div id="patient_view">
					<img width="170" height="170" style="margin: 2vh 40vh;" id="patient_image">
					<div style="margin: 5vh 30vh;">
						<p><strong>Patient Id: </strong><span id="patient_id"> Patient Id</span></p>

						<p><strong>Patient Name: </strong><span id="patient_name"> Patient Name</span></p>

						<p><strong>Patient Address: </strong><span id="patient_address"> Patient Address</span></p>
					</div>					
				</div>
				<p>asdfsfdhfhgk</p>
			</div>
		</div>

	</div>

	<div>
		<% include footer.ejs %>
	</div>

</body>

<script>
	function showPatient(image, id, name, address){
		document.getElementById("patient_image").src = image+".png";
		document.getElementById("patient_id").innerHTML = " "+id;
		document.getElementById("patient_name").innerHTML = " "+name;
		document.getElementById("patient_address").innerHTML = " "+address;
	}
</script>

</html>